.list{
    margin: 15px 0;
}

.list h3{
    display: inline;
}

.emptyListMsg{
    margin: 15px 0 0 0;
}

@media only screen and (max-width: 440px) {
    .list h3{
        text-align: center;
        display: inline-block;
        width: 100%;
        margin: 0 0 10px 0;
    }
}